/* reset */

img,
svg,
picture,
video {
    max-width: 100%;
}

/* header */

header {
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: white;
    z-index: 2;
}

header .sony {
    background-color: black;
    text-align: right;
}

header .sony img {
    width: 100px;
    padding: 10px 0;
}

header nav ul li {
    display: inline-block;
}


/* jumbotron */

.jumbotron {
    padding-top: 80px;
    background-image: url(../img/jumbo-bg.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.jumbotron .hero-banner {
    width: 50%;
}

.jumbotron .row {
    height: 80vh;
}


/* ps5-info */

.ps5-info .no-limit {
    font-size: 0.9rem;
    color: #127cd1;
    margin-top: 7rem;
}


/* takes-two */

.takes-two .row {
    height: 80vh;
}

.takes-two img {
    width: 70%;
}

.takes-two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* play-plus */

.playstation-plus {
    background-color: #BEBCBB;
}

.playstation-plus .col-12 img {
    width: 50%;
}


/* nuove-uscite */

.nuove-uscite {
    background-color: #1F1F1F;
}

.nuove-uscite .game-name {
    font-size: .8rem;
}

/* playstation-now */

.playstation-now {
    background-color: #161C3B;
}

.playstation-now .col-12 img {
    width: 50%;
}


/* footer */

footer {
    background-color: #00439C;
}

footer ul {
    list-style: none;
}

footer img {
    width: 15%;
}

footer a {
    color: white;
    text-decoration: none;
}

/* UTILITY */

.color-white {
    color: white;
}

.btn {
    padding: 5px;
    border-radius: 20px;
}

.btn-red {
    background-color: #CD3D0F;
    color: white;
}

.btn-blue {
    background-color: #2d64e6;
    color: white;
}

.btn-gray {
    background-color: #D9DADC;
    color: #3C6EE5;
}

.btn-white {
    background-color: #F5F5F5;
    color: black;
}

.btn-black {
    background-color: #363636;
    color: white;
}