/* reset */

img,
svg,
picture,
video {
    max-width: 100%;
}

/* header */

header {
    position: fixed;
    height: 115px;
    width: 100%;
    background-color: white;
    z-index: 2;
}

header .sony {
    background-color: black;
    text-align: right;
}

header .sony img {
    width: 100px;
    padding: 10px 0;
}

header nav ul li {
    position: static !important;
}


.navbar .icon-menu-container {
    width: 100vw;
    border-bottom: 2px solid gray;
}

.navbar .link-drop::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-bottom: 2px;
    border-radius: 50%;
    background-color: #127cd1;
}

.navbar .link-drop a {
    color: black;
    text-decoration: none;
}


/* jumbotron */

.jumbotron {
    height: 80vh;
    padding-top: 115px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-position-y: calc(100px);
}

.jumbotron .row {
    height: 70vh;
}

.jumbotron .hero-banner {
    width: 50%;
}

.thumb-container .img-container {
    transition: 1s;
    cursor: pointer;
}

.thumb-container .img-container:hover {
    transform: translateY(-20px);
}



/* ps5-info */

.ps5-info .no-limit {
    font-size: 0.9rem;
    color: #127cd1;
    margin-top: 7rem;
}

.ps5-info .img-container:hover {
    opacity: 100 !important;
    border-bottom: 2px solid #0dcaf0;
    cursor: pointer;
}


/* takes-two */

.takes-two img {
    width: 70%;
}

.takes-two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* new-games */

.new-games {
    background-color: #1F1F1F;
}

.new-games img {
    cursor: pointer;
}

.new-games .game-name {
    font-size: .8rem;
}


/* play-plus */

.playstation-plus {
    background-color: #BEBCBB;
}

.playstation-plus .col-12 img {
    width: 50%;
}


.discounts img {
    cursor: pointer;
}




/* playstation-now */

.playstation-now {
    background-color: #161C3B;
}

.playstation-now .col-12 img {
    width: 50%;
}


/* footer */

footer {
    background-color: #00439C;
}

footer ul {
    list-style: none;
}

footer a:hover {
    text-decoration: underline;
    color: white;
}

footer img {
    width: 15%;
}

footer a {
    color: white;
    text-decoration: none;
}



/* UTILITY */

.color-white {
    color: white;
}

.btn {
    padding: 7px;
    border-radius: 20px;
    box-sizing: border-box;
}

.btn-red {
    background-color: #CD3D0F;
    color: white;
    border: 2px solid black;
}

.btn-red:hover {
    background-color: #CD3D0F;
    box-shadow: 0px 0px 0px 3px #CD3D0F;
    border: 2px solid black;

}

.btn-blue {
    background-color: #2d64e6;
    color: white;
    border: 2px solid white;
}

.btn-blue:hover {
    color: white;
    background-color: #2d64e6;
    border: 2px solid white;
    box-shadow: 0px 0px 0px 3px #2d64e6;
}

.btn-gray {
    background-color: #D9DADC;
    color: #3C6EE5;
}

.btn-gray:hover {
    background-color: #D9DADC;
    color: #3C6EE5;
    box-shadow: 0px 0px 0px 3px #dee0e3;
}


.btn-white {
    background-color: #F5F5F5;
    color: black;
    border: 2px solid black;
}

.btn-white:hover {
    background-color: #F5F5F5;
    color: black;
    box-shadow: 0px 0px 0px 3px #F5F5F5;
    border: 2px solid black;
}

.btn-black {
    background-color: #363636;
    color: white;
    border: 2px solid white;
}

.btn-black:hover {
    color: white;
    border: 2px solid white;
    background-color: #363636;
    box-shadow: 0px 0px 0px 3px #363636;
}